
    body {
        background-color: #ecebe9;
    }

    .card-header {
        background-color: #3b3838;
        color: #ecebe9;
    }

    .btn {
        background-color: #369cce;
        color: white;
    }

    a {
        color: #369cce;
    }
